h3 {
    text-transform: capitalize; 
}

#equipe {
    display: flex; 
    align-items: flex-start;
}

.profile-image {
    width: 100px; 
    height: 100px;
    border-radius: 50% !important; 
    margin-right: 20px; 
}

#profil {
    flex: 1; 
}

#profil h4 {
    margin-top: 0; 
}

.title {
    height: 10%;
    margin: 0;
}

.reviewsplugin {
    height: 18%;
}

#localisation {
    height: 10%;
    top: -1rem;
}

#networkText{
    margin: 0;
}

.btn{
    padding: 10px;
}

button.wpr-offcanvas-trigger {
    margin-top: 5px;
    margin-bottom: 5px;
}