.elementor-element.elementor-element-48e25c3 {
    position: relative; 
}

.svg-text {
    font-size: 3rem;
    fill: pink;
    stroke: rgb(250, 174, 187);
    stroke-width: 2;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 10s linear forwards;
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
.animated {
    animation: none !important;
}


#intro {
    width: 80vw;
    height: 20vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; 
    border: 1px solid pink;
    border-radius: 20px;
    font-family: 'Playwrite HR', cursive;
}

#primaryText {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: x-large;
    padding: 1rem;
}

#writing {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: 0;
    font-size: 3rem;
}

#lastText {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    font-size: x-large;
    padding: 1rem;
}

.elementor-widget-container {
    display: flex;
    justify-content: center;
}

